.listado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
    .listado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 766px) {
    .listado {
        display: flex;
        flex-direction: column;
    }
}